COMPOSE_PROJECT_NAME=opsmatrix

# Base de Datos MariaDB
MYSQL_ROOT_PASSWORD=CAMBIAR_ROOT_PASSWORD_PROD
MYSQL_DATABASE=opsmatrix_db
MYSQL_USER=ops_user
MYSQL_PASSWORD=CAMBIAR_USER_PASSWORD_PROD

# Red y Dominios
DOMAIN_NAME=opsmatrix.lab
HTTP_PORT=80
HTTPS_PORT=443
